:root{
    --font-family-title: "warnesregular";
    --guillemet-citation: "Sanchez", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    background-color: #fff;
    font-family: "Lato", "Arial", sans-serif;
}


.nav{
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.nav *{
    color: #fff;
}

.nav_left a{
    font-family: var(--font-family-title);
    font-size: 32px;
}

.nav_link{
    display: flex;
}

.nav_link li a{
    color: rgb(233, 233, 233);
    margin: 0 10px;

}

.image_thumbnail{
    background-image: url('./header.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    height: 93vh;
}

.content_thumbnail{
    padding: 190px;
    color: #fff;
    filter: grayscale(80%);
}

.content_thumbnail .titlte_first{
    font-size: 58px;
}

.content_thumbnail .title_second{
    font-size: 55px;
    font-weight: normal;
}